<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> by Team 4</h1>
    <h2>Audiohackathon 2015</h2>
    <h3>#audiohack #thoughtworksnyc<h3>
    <video controls width=400 src="output/mergedWithIntro.mp4"></video>
    <hr/>
    <h2>Inputs:</h2>
    <pre>
    <%- JSON.stringify(inputs, null, 4) %>
    </pre>
  </body>
</html>
