<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <pre>
    Inputs
    <code>
    var testString = String("she was reporting on the schools " + returnChar + "in durham north carolina").toLowerCase();
    </code>
    <code>
	var durations = [.5, .3, .1, .1, .3, .3, .3, .3, .3, .6];
	</code>

    </pre>
    <video controls width=400 src="output/mergedFinal.mp4"></video>
  </body>
</html>
